@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

$font-family: "Montserrat", sans-serif;

.v-application {
  background-color: var(--v-background-base) !important;
  // Selector: any class which contains "text-"
  // we'll use it to override vuetify text utility classes font.
  // Deep explanation, ik its just a small piece of code but its important to know why its here.
  // Basically Vuetify use text utility classes under the hood in some components, as VList, VCard, VBtn
  // it doesnt matter if we have previously declared montserrat as our global font, vuetify will still use
  // roboto since it has more specificy.
  // so we add this extra selector to prevent vuetify from overriding our font in components where text utility classes are used.
  // some kinky solution would be using !important combined with a wildcard selector but its a bad practicy and its not recommended.
  [class*="text-"] {
    color: #36405a;
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
}
.v-sheet,
.v-navigation-drawer {
  background-color: var(--v-background-lighten1) !important;
}